{% extends "base.html" %}

{% block container %}
  {{ super() }}

  <div class="container-fluid h-100">
    <div class="row h-100">
      <div class="col h-100">
        <div id="map_div"></div>
      </div>
      <div class="col h-100">
        <div style="font-size:larger;font-weight:bolder; float:right;"> 이륜차 배달경로 시스템 v1.0 </div>
        <div>&nbsp;</div>
        <div>
        <div class="alert alert-warning" role="alert" id="init_warning" style="display: none;">기사 위치 값을 입력해주세요.</div>
        <div class="alert alert-warning" role="alert" id="shop_warning" style="display: none;">매장 위치 값들을 입력해주세요.</div>
        <div class="alert alert-warning" role="alert" id="pass_warning" style="display: none;">배달목적지 위치 값들을 입력해주세요.</div>
        </div>
        <form method="get" action="/res_1">
          <div class="form-group">
            <label>운행속도 (지정하지 않을 경우 교통상황 반영)</label>
            <div style="color:red; font-size:x-small; padding-bottom: 3px;"> 이륜차 평균 운영속도를 적어주세요</div>
            <div class="input-group">
              <input type="number" class="form-control" min="1" name="speed" onkeypress='validate(event)' placeholder="숫자를 입력해주세요."/>
              <div class="input-group-append">
                <span class="input-group-text">(km/h)</span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>최대 매장 조리 시간 (지정하지 않을 경우 고려하지 않음)</label>
            <div style="color:red; font-size:x-small; padding-bottom: 3px;"> 평균적으로 매장에서 조리되는 시간을 적어주세요</div>
            <div class="input-group">
              <input type="number" class="form-control" min="1" name="limit_shop_nodes_minute" onkeypress='validate(event)' placeholder="숫자를 입력해주세요."/>
              <div class="input-group-append">
                <span class="input-group-text">(분)</span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>최대 매장 수 (지정하지 않을 경우 고려하지 않음)</label>
            <div style="color:red; font-size:x-small; padding-bottom: 3px;"> 최대 표현할 매장 숫자를 입력해주세요</div>
            <div class="input-group">
              <input type="number" class="form-control" min="1" name="limit_shop_nodes_number" onkeypress='validate(event)' placeholder="숫자를 입력해주세요."/>
              <div class="input-group-append">
                <span class="input-group-text">(개)</span>
              </div>
            </div>
          </div>
          <!--<div class="form-group">-->
            <!--<label>최대 경유 제한 시간 (지정하지 않을 경우 고려하지 않음)</label>-->
            <!--<div class="input-group">-->
              <!--<input type="number" class="form-control" min="1" name="limit_pass_nodes_minute" onkeypress='validate(event)'/>-->
              <!--<div class="input-group-append">-->
                <!--<span class="input-group-text">(분)</span>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="form-group">-->
            <!--<label>최대 경유 수 (지정하지 않을 경우 고려하지 않음)</label>-->
            <!--<div class="input-group">-->
              <!--<input type="number" class="form-control" min="1" name="limit_pass_nodes_number" onkeypress='validate(event)'/>-->
              <!--<div class="input-group-append">-->
                <!--<span class="input-group-text">(개)</span>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <div class="form-group" data-type="init_node">
            <label>기사 위치 (A)</label>
            <ul class="list-group" style="display: none;">
            </ul>
            <button type="button" class="btn btn-block btn-outline-primary" data-type="init_node" data-toggle="modal" data-target="#daum-post-code-modal">
              <i class="fa fa-plus-circle"></i>
            </button>
          </div>
          <div class="form-group" data-type="shop_nodes">
            <label>매장 위치들 (갈색)</label>
            <ul class="list-group" style="display: none;">
            </ul>
            <button type="button" class="btn btn-block btn-outline-primary" data-type="shop_nodes" data-toggle="modal" data-target="#daum-post-code-modal">
              <i class="fa fa-plus-circle"></i>
            </button>
          </div>
          <div class="form-group" data-type="pass_nodes">
            <label>배달목적지 위치들 (흑색)</label>
            <div class="alert alert-danger">
              먼저 매장 위치들을 입력해주세요.
            </div>
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-lg btn-block btn-primary" onclick="makeHiddenInput(); return validateForm();">경로 탐색</button>
          </div>

          <input type="hidden" name="init_node">
          <input type="hidden" name="shop_nodes">
          <input type="hidden" name="pass_nodes">
        </form>
      </div>
    </div>
  </div>

  <div class="modal fade" id="daum-post-code-modal" tabindex="-1" role="dialog" aria-labelledby="daum-post-code-title" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="daum-post-code-title"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body switch-type" style="padding: 0;">
          <div id="daum-post-code-wrap" style="width:498px; height:498px;">
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block foot %}
  {{ super() }}

  <script>
    let type = null;
    let init_nodes_number = 0;
    let shop_nodes_number = 0;
    let pass_nodes_number = 0;
    let real_shop_nodes_number = 0;
    let real_pass_nodes_number = 0;
    let related_shop_node = null;

    let daum_post_code_wrap = $("#daum-post-code-wrap");
    let daum_post_code_title = $("#daum-post-code-title");
    let daum_post_code_modal = $("#daum-post-code-modal");

    let init_node_form_group = $(".form-group[data-type=\"init_node\"]");
    let shop_nodes_form_group = $(".form-group[data-type=\"shop_nodes\"]");
    let pass_nodes_form_group = $(".form-group[data-type=\"pass_nodes\"]");

    var shop_nodes_array = [];
    var pass_nodes_array = [];

    let init_node_hidden_input = $("input[name=\"init_node\"]");
    let shop_nodes_hidden_input = $("input[name=\"shop_nodes\"]");
    let pass_nodes_hidden_input = $("input[name=\"pass_nodes\"]");

    daum_post_code_modal.on("shown.bs.modal", function (e) {

      type = $(e.relatedTarget).data("type");
      related_shop_node = $(e.relatedTarget).data("related_shop_node");

      if(type === "init_node") {
        daum_post_code_title.text("기사 주소 검색");
      } else if(type === "shop_nodes") {
        daum_post_code_title.text("매장 주소 검색");
        if(!checkLimitNumber()){
          alert("최대 매장수보다 많이 추가 할 수 없습니다.")
          $("#daum-post-code-modal").modal("hide");
        }
      } else if(type === "pass_nodes") {
        daum_post_code_title.text("배달목적지 주소 검색");
      }

      execDaumPostcode(related_shop_node);
    });
  </script>
  <script>
    function checkLimitNumber(){
      var limit_num = document.getElementsByName("limit_shop_nodes_number")[0].valueAsNumber;
      if(limit_num === NaN){
        return true;
      }else if(real_shop_nodes_number>=limit_num){
        return false;
      }else{
        return true;
      }
    }

    function checkChangeNumber(){
      var limit_num = document.getElementsByName("limit_shop_nodes_number")[0].valueAsNumber;
      if(limit_num === NaN){
        return true;
      }else if(real_shop_nodes_number>limit_num){
        return false;
      }else{
        return true;
      }
    }

    function makeHiddenInput(){
      shop_nodes_hidden_input.val("");
      pass_nodes_hidden_input.val("");
      for (var i=0; i<shop_nodes_array.length; i++) {
        shop_nodes_hidden_input.val(shop_nodes_hidden_input.val() + shop_nodes_array[i].split(')(')[0] + ")(" + shop_nodes_array[i].split(')(')[1]);
        }
      for (var i=0; i<pass_nodes_array.length; i++) {
        pass_nodes_hidden_input.val(pass_nodes_hidden_input.val() + pass_nodes_array[i].split(')(')[0] + ")(" + pass_nodes_array[i].split(')(')[1] );
        }
    }

    function validateForm(){
      if(!checkChangeNumber()){
        alert("최대 매장 수보다 매장이 많이 추가되었습니다.");
        return false;
      }
      $("#init_warning").css("display", "none");
      $("#shop_warning").css("display", "none");
      $("#pass_warning").css("display", "none");
      if (init_nodes_number === 0){
        $("#init_warning").css("display", "");
        return false;
      } else if(real_shop_nodes_number === 0){
        $("#shop_warning").css("display", "");
        return false;
      } else if(pass_nodes_number === 0){
        $("#pass_warning").css("display", "");
        return false;
      } else{
        return true;
      }
   }

    function validate(evt) {
      var theEvent = evt || window.event;
      var key = theEvent.keyCode || theEvent.which;
      key = String.fromCharCode( key );
      var regex = /[0-9]|\./;
      if( !regex.test(key) ) {
        theEvent.returnValue = false;
        if(theEvent.preventDefault) theEvent.preventDefault();
      }
    }

    function execDaumPostcode(related_shop_node) {
    daum.postcode.load(function(){
      new daum.Postcode({
        oncomplete: function(data) {
          // 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

          // 각 주소의 노출 규칙에 따라 주소를 조합한다.
          // 내려오는 변수가 값이 없는 경우엔 공백("")값을 가지므로, 이를 참고하여 분기 한다.
          let fullAddr = data.address; // 최종 주소 변수
          let extraAddr = ""; // 조합형 주소 변수

          // 기본 주소가 도로명 타입일때 조합한다.
          if(data.addressType === "R"){
            //법정동명이 있을 경우 추가한다.
            if(data.bname !== ""){
                extraAddr += data.bname;
            }

            // 건물명이 있을 경우 추가한다.
            if(data.buildingName !== ""){
                extraAddr += (extraAddr !== "" ? ", " + data.buildingName : data.buildingName);
            }

            // 조합형주소의 유무에 따라 양쪽에 괄호를 추가하여 최종 주소를 만든다.
            fullAddr += (extraAddr !== "" ? " ("+ extraAddr +")" : "");
          }

          execDaumPostcodeOnComplete(fullAddr, related_shop_node);
        },
        onresize : function(size) {
            daum_post_code_wrap.height(size.height);
        },
        width: "100%",
        height: "100%",
      }).embed(daum_post_code_wrap[0]);
      });
    }

    function delete_init(e)
    {
      e.parentNode.parentNode.removeChild(e.parentNode);
      $(".btn[data-type=\"init_node\"]").css("display", "block");
      markerLayer.removeMarker(init_markers[0]);
      shop_markers.pop();
      init_nodes_number -= 1;
    }

    function delete_shop(e)
    {
      var temp_id = e.id;
      markerLayer.removeMarker(shop_markers[parseInt(temp_id)-1]);
      markerLayer.removeMarker(shop_markers[parseInt(temp_id)-1]);
      var temp_address = e.parentNode.childNodes[0].value.slice(4);
      for (var i=shop_nodes_array.length-1; i>=0; i--) {
        var temp = shop_nodes_array[i]
        if (temp.split('}{')[1].split(')(')[0] === temp_address) {
        shop_nodes_array.splice(i, 1);
        break;
        }
      }
      for (var i=pass_nodes_array.length-1; i>=0; i--) {
      var temp = pass_nodes_array[i]
        if (temp.split('}{')[1].split(')(')[1] === temp_id) {
        pass_nodes_array.splice(i, 1);
        break;
        }
      }


      var temp_real = $(".btn[data-value=\""+e.id+"\"]").attr('id');
      if (temp_real!==undefined){
      markerLayer.removeMarker(pass_markers[parseInt(temp_real)-1]);
      }
      $(".node-group[data-related-shop-node=\""+e.id+"\"]").remove();
      e.parentNode.parentNode.removeChild(e.parentNode);
      if(real_shop_nodes_number === 10){
       $(".btn[data-type=\"shop_nodes\"]").css("display", "block");
      }
      real_shop_nodes_number -=1;
    }

    function delete_pass(e)
    {
      var temp_address = e.parentNode.childNodes[0].value;
      for (var i=pass_nodes_array.length-1; i>=0; i--) {
      var temp = pass_nodes_array[i]
        if (temp.split('}{')[1].split(')(')[0] === temp_address) {
        pass_nodes_array.splice(i, 1);
        break;
        }
      }
      var temp_index = e.id;
      markerLayer.removeMarker(pass_markers[parseInt(temp_index)-1]);


      e.parentNode.parentNode.parentNode.childNodes[5].style.display="block"
      e.parentNode.parentNode.removeChild(e.parentNode);
      pass_nodes_number -= 1;
      window.marker_counter = window.marker_counter-1
    }


    function execDaumPostcodeOnComplete(address, related_shop_node) {
      if(type === "init_node") {
        init_nodes_number += 1;
        init_node_hidden_input.val(address);

        init_node_form_group.find("button").css("display", "none");

        init_node_form_group.find(".list-group").css("display", "block");
        init_node_form_group.find(".list-group").append(""+
        "<div><input type=\"text\" class=\"list-item form-control\" value=\"" + address + "\" disabled style=\"width:85%; display:inline-block;\">\n"+
        "<button type=\"button\" class=\"btn\" style=\"background-color:white;\" onClick=\"delete_init(this);\">\n"+
        "  <i class=\"fa fa-minus-circle\" style=\"width:5%; display:inline-block;color:red;\"></i></button></div>\n"+
        "");
      } else if(type === "shop_nodes") {
        if(real_shop_nodes_number === 9){
          real_shop_nodes_number += 1;
          shop_nodes_number +=1 ;
          $(".btn[data-type=\"shop_nodes\"]").css("display", "none");

          <!--shop_nodes_hidden_input.val(shop_nodes_hidden_input.val() + "}{" + address);-->
          shop_nodes_array.push("}{" + address + ")(" + shop_nodes_number);

          shop_nodes_form_group.find(".list-group").css("display", "block");
          shop_nodes_form_group.find(".list-group").append(""+
          "<div><input type=\"text\" class=\"list-item form-control\" value=\"" + "(" + shop_nodes_number + ") " + address + "\" disabled style=\"width:85%; display:inline-block;\">\n"+
          "<button type=\"button\" class=\"btn\" id=\""+ shop_nodes_number +"\" style=\"background-color:white;\" onClick=\"delete_shop(this);\">\n"+
          "  <i class=\"fa fa-minus-circle\" style=\"width:5%; display:inline-block;color:red;\"></i></button></div>\n"+
          "");

        } else if(shop_nodes_number > 28){
          alert("매장 번호가 너무 많이 늘어났습니다.");
        }
        else if(real_shop_nodes_number > 9){
          alert("매장 위치는 최대 10개까지 가능합니다.");
        }
        else{
          real_shop_nodes_number += 1;
          shop_nodes_number += 1;

          <!--shop_nodes_hidden_input.val(shop_nodes_hidden_input.val() + "}{" + address);-->
          shop_nodes_array.push("}{" + address + ")(" + shop_nodes_number);

          shop_nodes_form_group.find(".list-group").css("display", "block");
          shop_nodes_form_group.find(".list-group").append(""+
          "<div><input type=\"text\" class=\"list-item form-control\" value=\"" + "(" + shop_nodes_number + ") " + address + "\" disabled style=\"width:85%; display:inline-block;\">\n"+
          "<button type=\"button\" class=\"btn\" id=\""+ shop_nodes_number +"\" style=\"background-color:white;\" onClick=\"delete_shop(this);\">\n"+
          "  <i class=\"fa fa-minus-circle\" style=\"width:5%; display:inline-block;color:red;\"></i></button></div>\n"+
          "");
        }


        if(real_shop_nodes_number === 1) {
            pass_nodes_form_group.find(".alert").remove();
        }

        pass_nodes_form_group.append("" +
          "<div class=\"node-group\" data-related-shop-node=\"" + shop_nodes_number + "\">\n"+
          "  <div style=\"margin: 15px 0;\">(" + shop_nodes_number + ")번 관련 매장 배달목적지</div>\n" +
          "  <ul class=\"list-group\" style=\"display: none;\">\n" +
          "  </ul>\n" +
          "  <button type=\"button\" class=\"btn btn-block btn-outline-primary\" data-type=\"pass_nodes\" data-related_shop_node=\"" + shop_nodes_number + "\" data-toggle=\"modal\" data-target=\"#daum-post-code-modal\">\n" +
          "    <i class=\"fa fa-plus-circle\"></i>\n" +
          "  </button>\n" +
          "</div>\n"+
        "");
      } else if(type === "pass_nodes") {
        if(pass_nodes_number >29){
          alert("배달목적지 위치는 최대 30개까지 가능합니다.");
        } else if(pass_nodes_number === 29){
          pass_nodes_form_group.find("button").css("display", "none");
          pass_nodes_number += 1;
          num_index = num_index + 1;
          <!--pass_nodes_hidden_input.val(pass_nodes_hidden_input.val() + "}{" + address + ")(" + related_shop_node);-->
          pass_nodes_array.push("}{" + address + ")(" + related_shop_node);

          pass_nodes_form_group.find(".node-group[data-related-shop-node=\"" + related_shop_node + "\"]").find(".list-group").css("display", "block");
          pass_nodes_form_group.find(".node-group[data-related-shop-node=\"" + related_shop_node  + "\"]").find(".list-group").append(""+
          "<div><input type=\"text\" class=\"list-item form-control pass_" + pass_nodes_number + "_minus\" value=\"" + address + "\" disabled style=\"width:85%; display:inline-block;\">\n"+
          "<button type=\"button\"  id=\""+ num_index +"\" class=\"btn\" data-value=\""+ related_shop_node+"\" style=\"background-color:white;\" onClick=\"delete_pass(this);\">\n"+
          "  <i class=\"fa fa-minus-circle\" style=\"width:5%; display:inline-block;color:red;\"></i></button></div>\n"+
          "");
        }else{
          pass_nodes_number += 1;
          num_index = num_index + 1;
          pass_nodes_form_group.find(".node-group[data-related-shop-node=\"" + related_shop_node + "\"]").find("button").css("display", "none");
          <!--pass_nodes_hidden_input.val(pass_nodes_hidden_input.val() + "}{" + address + ")(" + related_shop_node);-->
          pass_nodes_array.push("}{" + address + ")(" + related_shop_node);

          pass_nodes_form_group.find(".node-group[data-related-shop-node=\"" + related_shop_node + "\"]").find(".list-group").css("display", "block");
          pass_nodes_form_group.find(".node-group[data-related-shop-node=\"" + related_shop_node  + "\"]").find(".list-group").append(""+
         "<div><input type=\"text\" class=\"list-item form-control pass_" + pass_nodes_number + "_minus\" value=\"" + address + "\" disabled style=\"width:85%; display:inline-block;\">\n"+
         "<button type=\"button\"  id=\""+ num_index +"\" class=\"btn\" data-value=\""+ related_shop_node+"\" style=\"background-color:white;\" onClick=\"delete_pass(this);\">\n"+
          "  <i class=\"fa fa-minus-circle\" style=\"width:5%; display:inline-block;color:red;\"></i></button></div>\n"+
          "");
        }
      }

      setMarkerOnAddress(address, type);

      $("#daum-post-code-modal").modal("hide");
    }

  </script>
{% endblock %}
