{% extends "base.html" %}

{% block container %}
  {{ super() }}

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link{% if 'res_1' in request.path_info %} active{% endif %}" href="/res_1?{{ request.GET.urlencode() }}" style="color:black;">
        조리 시간 반영 찾기
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link{% if 'res_2' in request.path_info %} active{% endif %}" href="/res_2?{{ request.GET.urlencode() }}" style="color:black;">
        일반 경로 찾기
      </a>
    </li>
  </ul>
  <div class="container-fluid h-100">
    <div class="row h-100">
      <div class="col h-100">
        <div id="map_div"></div>
      </div>
      <div class="col h-100">
        <div style="font-size:larger;font-weight:bolder; float:right;"> 이륜차 배달경로 시스템 v1.0 </div>
        <form id="results">
          <table class="table table-hover table-bordered">
            <thead>
              <tr>
                <th>총 소요시간{% if speed %}({{ speed }}km/h 기준으로 계산){% endif %}</th>
                <th>총 이동거리</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><span id="routes_total_time">{{ routes_total_time }}</span>(분)</td>
                <td><span id="routes_total_dist">{{ routes_total_dist }}</span>(km)</td>
              </tr>
            </tbody>
          </table>
          {% block routes %}
          {% endblock %}

          {% block remain_shop_nodes %}
            {% if remain_shop_nodes %}
              <br><br>
              <div class="alert alert-danger" role="alert">
                아래의 배달목적지는 제한 시간 때문에 배달하지 못했습니다.
              </div>
              {% for remain_shop_node in remain_shop_nodes %}
                <div class="form-group">
                  <input type="text" class="list-item form-control" value="{{ remain_shop_node.address }}" disabled>
                </div>
              {% endfor %}
            {% endif %}
          {% endblock %}

          {% block remain_pass_nodes %}
            {% if remain_pass_nodes %}
              <br><br>
              <div class="alert alert-danger" role="alert">
                아래의 배달목적지는 제한 시간 때문에 배달하지 못했습니다.
              </div>
              {% for remain_pass_node in remain_pass_nodes %}
                <div class="form-group">
                  <input type="text" class="list-item form-control" value="{{ remain_pass_node.address }}" disabled>
                </div>
              {% endfor %}
            {% endif %}
          {% endblock %}
        </form>
        <div class="form-group">
          <button type="submit" onclick="location.href='/'" class="btn btn-lg btn-block btn-primary">뒤로가기</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block foot %}
  {{ super() }}

  <script type="text/javascript">
	  var routeLayer = new Tmap.Layer.Vector("route");

    $(document).ready(function() {
      setMarker("{{ init_node.lng }}", "{{ init_node.lat }}", "init_node");

      {% for shop_node in shop_nodes %}
        setMarker2("{{ shop_node.lng }}", "{{ shop_node.lat }}","{{ shop_node.seq }}", "shop_nodes");
      {% endfor %}

      {% for pass_node in pass_nodes %}
        setMarker2("{{ pass_node.lng }}", "{{ pass_node.lat }}", "{{ pass_node.seq }}", "pass_nodes");
      {% endfor %}

      window.map.setCenter(new Tmap.LonLat("{{ init_node.lng }}", "{{ init_node.lat }}").transform("EPSG:4326", "EPSG:3857"), 15);
    });
  </script>

  <script>
    function addRouteLayer(data) {
      var prtcl = new Tmap.Format.GeoJSON({}).read(data);//데이터(prtcl)를 읽고, 벡터 도형(feature) 목록을 리턴합니다.

      //벡터 도형(Feature)이 추가되기 직전에 트리거됩니다.
      routeLayer.events.register("beforefeatureadded", routeLayer, onBeforeFeatureAdded);

      function onBeforeFeatureAdded(e) {
          var style = {};//스타일을 저장하기위한 변수입니다.
          switch (e.feature.attributes.styleUrl) {
          case "#pointStyle":
            style.externalGraphic = "http://topopen.tmap.co.kr/imgs/point.png"; //렌더링 포인트에 사용될 외부 이미지 파일의 url입니다.
            style.graphicHeight = 16;//외부 이미지 파일의 크기 설정을 위한 픽셀 높이입니다.
            style.graphicOpacity = 1;//외부 이미지 파일의 투명도 (0-1)입니다.
            style.graphicWidth = 16;//외부 이미지 파일의 크기 설정을 위한 픽셀 폭입니다.
          break;
          default:
            style.strokeColor = "#ff0000";//stroke에 적용될 16진수 color입니다.
            style.strokeOpacity = "1";//stroke의 투명도(0~1)입니다.
            style.strokeWidth = "5";//stroke의 넓이(pixel 단위)
          };
        e.feature.style = style;//도형의 스타일을 적용합니다.
      }

      routeLayer.addFeatures(prtcl); //레이어에 도형을 등록합니다.
      window.map.addLayer(routeLayer);//맵에 레이어 추가

      window.map.zoomToExtent(routeLayer.getDataExtent());//map의 zoom을 routeLayer의 영역에 맞게 변경합니다.
    }
  </script>
{% endblock %}
