{% extends "core/res.html" %}

{% block routes %}
  {{ super() }}

  {% set vars = {'time': 0} %}

  <div class="alert alert-danger" role="alert">
    일반 경로 탐색에서 "최대 조리 제한 시간"내에 매장과 그 배달목적지를 방문할 수 있는 매장만 포함됩니다.
  </div>
   <div class="alert alert-success" role="alert">
      {% if shop_nodes_limit_number %}
      최대 매장 수: '{{shop_nodes_limit_number}}개',
      {% else %}
      최대 매장 수: '없음',
      {% endif %}
      {% if shop_nodes_limit_minute %}
      최대 매장 조리 시간: '{{shop_nodes_limit_minute}}분'으로 계산한 경우 총
      {% else %}
      최대 매장 조리 시간: '없음'으로 계산한 경우 총
      {% endif %}
      {% if not_visited_number %}
        '{{not_visited_number}}개'의 매장과 그에 해당하는 배달목적지가 제외됨.
      {% else %}
        '0개'의 매장과 그에 해당하는 배달목적지가 제외됨.
      {% endif %}
    </div>

  {% for i, route in enumerate(routes) %}
    {% if i == 0 %}
      <div class="alert alert-dark clearfix" role="alert">
        <span class="float-left"><span class="badge badge-primary" style="margin-right: 5px;">[기사 A]</span>{{ route.init_node.address }}</span> <span class="float-right">[{{ vars['time'] | int }} 분 후 도착]</span>
      </div>
    {% endif %}

    {% if speed %}
      {% if vars.update({'time': vars['time'] + route['data']['total_dist']/speed | float *60}) %} {% endif %}
    {% else %}
      {% if vars.update({'time': vars['time'] + route['data']['total_time']}) %} {% endif %}
    {% endif %}

    <div class="form-group text-center">
      <i class="fas fa-arrow-down"></i>
    </div>

    {% if route.term_node.related_shop_node %}
      <div class="alert alert-dark clearfix" role="alert">
        <span class="float-left"><span class="badge badge-dark" style="margin-right: 5px;">[배달목적지 - {{ route.term_node.seq }}]</span>{{ route.term_node.address }}</span> <span class="float-right">[{{ vars['time'] | int }} 분 후 도착]</span>
      </div>
    {% else %}
      <div class="alert alert-dark clearfix" role="alert">
        <span class="float-left"><span class="badge badge-light" style="margin-right: 5px; background-color: #9a721c; color: #fff;">[매장 - {{ route.term_node.seq }}]</span>{{ route.term_node.address }}</span> <span class="float-right">[{{ vars['time'] | int }} 분 후 도착]</span>
      </div>
    {% endif %}
  {% endfor %}
{% endblock %}

{% block foot %}
  {{ super() }}

  <script>
    $(document).ready(function() {
      {% for route in routes %}
        addRouteLayer({{ route['data']['response']|safe }});
      {% endfor %}
    })
  </script>
{% endblock %}
