<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{% block title %}{% endblock %}</title>

  {% block head %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

    <style>
      html, body {
        height: 100%;
      }

      .form-group label {
        margin: 1rem 0 0.5rem;
      }
      .form-group .list-group {
        margin: 1rem 0;
      }
      .form-group .list-group .list-item {
        margin: 0 0 0.5rem ;
      }
    </style>
  {% endblock %}
</head>
<body>
  <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  {% block header %}
  {% endblock %}

  {% block container %}
  {% endblock %}

  {% block footer %}
  {% endblock %}

  {% block foot %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script src="https://ssl.daumcdn.net/dmaps/map_js_init/postcode.v2.js"></script>
    <script src="https://api2.sktelecom.com/tmap/js?version=1&format=javascript&appKey=f3822d08-6fcc-4d0c-b6bd-fb7634cea861"></script>

    <script>
      $(document).ready(function() {
        ChangeUrl('', 'index');
        initTmap();
      });
    </script>

    <script>
      var init_markers=[];
      var shop_markers=[];
      var pass_markers=[];
      var num_index = 0;
      let markerLayer = new Tmap.Layer.Markers();

      function ChangeUrl(page, url) {
        if (typeof (history.pushState) != "undefined") {
          var obj = {Page: page, Url: url};
          history.replaceState(obj, obj.Page, obj.Url);
        } else {}
      }
      function initTmap() {
        window.marker_w_counter = 1;
        window.marker_counter = 1;

        window.map = new Tmap.Map({
          div: "map_div",
          width: "100%",
          height: "100%",
        });

        window.map.setCenter(new Tmap.LonLat("129.11495942276423", "35.16163698405829").transform("EPSG:4326", "EPSG:3857"), 15);
      }

      function setMarker(lon, lat, type) {


        window.map.addLayer(markerLayer);

        let size = new Tmap.Size(24, 38);

        let offset = new Tmap.Pixel(-(size.w / 2), -size.h);

        if(type === "init_node") {
          var icon = new Tmap.Icon('http://softpro.co.kr/router_static/pin_a.png', size, offset);

          let marker_s = new Tmap.Marker(new Tmap.LonLat(lon, lat).transform("EPSG:4326", "EPSG:3857"), icon);
          markerLayer.addMarker(marker_s);
          window.map.setCenter(new Tmap.LonLat(lon, lat).transform("EPSG:4326", "EPSG:3857"), 15);
          init_markers.push(marker_s);

        } else if(type === "shop_nodes") {
          {% if debug %}
             var icon = new Tmap.Icon('http://softpro.co.kr/router_static/spot_w_' + window.marker_w_counter + '.png', size, offset);
          {% else %}
            var icon = new Tmap.Icon('http://softpro.co.kr/router_static/spot_w_' + window.marker_w_counter + '.png', size, offset);
          {% endif %}

          window.marker_w_counter = window.marker_w_counter + 1;

          let marker_s = new Tmap.Marker(new Tmap.LonLat(lon, lat).transform("EPSG:4326", "EPSG:3857"), icon);
          markerLayer.addMarker(marker_s);
          window.map.setCenter(new Tmap.LonLat(lon, lat).transform("EPSG:4326", "EPSG:3857"), 15);
          shop_markers.push(marker_s);

        } else if(type === "pass_nodes") {
          {% if debug %}
            var icon = new Tmap.Icon('/static/spot_' + window.marker_counter + '.png', size, offset);
          {% else %}
            var icon = new Tmap.Icon('https://s3.ap-northeast-2.amazonaws.com/router-static/spot_' + window.marker_counter + '.png', size, offset);
          {% endif %}

          window.marker_counter = window.marker_counter + 1;

          let marker_s = new Tmap.Marker(new Tmap.LonLat(lon, lat).transform("EPSG:4326", "EPSG:3857"), icon);
          markerLayer.addMarker(marker_s);
          window.map.setCenter(new Tmap.LonLat(lon, lat).transform("EPSG:4326", "EPSG:3857"), 15);
          pass_markers.push(marker_s);


        }
      }

      function setMarker2(lon, lat, number, type) {


        window.map.addLayer(markerLayer);

        let size = new Tmap.Size(24, 38);

        let offset = new Tmap.Pixel(-(size.w / 2), -size.h);

        if(type === "init_node") {
          var icon = new Tmap.Icon('http://softpro.co.kr/router_static/pin_a.png', size, offset);

          let marker_s = new Tmap.Marker(new Tmap.LonLat(lon, lat).transform("EPSG:4326", "EPSG:3857"), icon);
          markerLayer.addMarker(marker_s);
          window.map.setCenter(new Tmap.LonLat(lon, lat).transform("EPSG:4326", "EPSG:3857"), 15);
          init_markers.push(marker_s);

        } else if(type === "shop_nodes") {
          {% if debug %}
             var icon = new Tmap.Icon('http://softpro.co.kr/router_static/spot_w_' + number + '.png', size, offset);
          {% else %}
            var icon = new Tmap.Icon('http://softpro.co.kr/router_static/spot_w_' + number + '.png', size, offset);
          {% endif %}

          window.marker_w_counter = window.marker_w_counter + 1;

          let marker_s = new Tmap.Marker(new Tmap.LonLat(lon, lat).transform("EPSG:4326", "EPSG:3857"), icon);
          markerLayer.addMarker(marker_s);
          window.map.setCenter(new Tmap.LonLat(lon, lat).transform("EPSG:4326", "EPSG:3857"), 15);
          shop_markers.push(marker_s);

        } else if(type === "pass_nodes") {
          {% if debug %}
            var icon = new Tmap.Icon('/static/spot_' + number + '.png', size, offset);
          {% else %}
            var icon = new Tmap.Icon('https://s3.ap-northeast-2.amazonaws.com/router-static/spot_' + number + '.png', size, offset);
          {% endif %}

          window.marker_counter = window.marker_counter + 1;

          let marker_s = new Tmap.Marker(new Tmap.LonLat(lon, lat).transform("EPSG:4326", "EPSG:3857"), icon);
          markerLayer.addMarker(marker_s);
          window.map.setCenter(new Tmap.LonLat(lon, lat).transform("EPSG:4326", "EPSG:3857"), 15);
          pass_markers.push(marker_s);

        }
      }

        function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
              var cookie = jQuery.trim(cookies[i]);
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
    }

      function setMarkerOnAddress(address, type) {
        fetch("https://dapi.kakao.com/v2/local/search/address.json?query=" + address, {
          method: "GET",
          <!--credentials: 'include',-->
          headers: {
            <!--"Access-Control-Allow-Header": "*",-->
            <!--"Access-Control-Allow-Origin": "*",-->
            <!--"Content-Type": "application/x-www-form-urlencoded; charset=utf-8",-->
            "Authorization": "KakaoAK " + "9eccda5ed53ef5d943842a9addc7f952",
          },
        }).then(function(response) {
          if (response.ok) {
            response.json().then(function(data) {
              setMarker(data.documents[0].x, data.documents[0].y, type)
            });
          } else {
            let error = new Error(response.statusText);

            error.response = response;

            throw error
          }
        })
      }
       <!--function setMarkerOnAddress(address, type) {-->
        <!--$.ajax({-->
			<!--type : 'GET',-->
			<!--url: "https://dapi.kakao.com/v2/local/search/address.json?query=" + address,-->
			<!--beforeSend: function(request) {-->
              <!--request.setRequestHeader("Authorization", "KakaoAK " + "9eccda5ed53ef5d943842a9addc7f952");-->
            <!--},-->
			<!--cache : false,-->
			<!--success : function(result) {-->
				<!--console.log(result);-->
			<!--},-->
			<!--error : function(xhr,err){-->
				<!--//alert('readyState: ' + xhr.readyState + '\nstatus: ' + xhr.status + '<br>' + 'responseText: ' + xhr.responseText);-->
			<!--}-->
		<!--});-->
      <!--}-->
    </script>
  {% endblock %}
</body>
</html>
